# URL of the backend API (e.g. your Render server URL)
REACT_APP_API_URL=https://bigmumbai-nvmy.onrender.com/api

# URL of the user-facing frontend app (where gift links will point to)
REACT_APP_FRONTEND_URL=https://your-frontend-domain.com
